Deposit {
    S:customReplacements <
     >

    S:descendants <
     >

    S:ores <
        create_new_age:magnetite_block
     >

    # ~1 per 2600 chunks (tweak to taste)
    I:rarity=2600

    S:replaceableBlocks <
        #minecraft:stone_ore_replaceables
        #minecraft:deepslate_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=48
        I:min=-16
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=16
        S:proportions=0.8
        B:strictBounds=false
        B:strictStart=false
    }

    Indicator {
        S:circles <
            minecraft:iron_ore, 2
            minecraft:iron_ore, 4
         >
        S:continuity=55.0
        I:distortion=1
        S:id=
        S:threshold=30.0
    }

    Size {
        I:max=650
        I:min=320
    }
}
