# Better Content ore-pass configuration. The family remains available through
# scattered Realistic Ores veins as well as this uncommon industrial body.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realistic_ores:soul_bearing_black_shale_soulstone_vein
        #minecraft:deepslate_ore_replaceables -> realistic_ores:deepslate_soul_bearing_black_shale_soulstone_vein
     >

    S:descendants <

     >

    S:ores <
        realistic_ores:soul_bearing_black_shale_soulstone_vein
     >

    I:rarity=192

    S:replaceableBlocks <
        #realistic_ores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=96
        I:min=-32
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=0.8
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realistic_ores:surface_sample_soul_bearing_black_shale_soulstone_vein, 3
            realistic_ores:surface_sample_soul_bearing_black_shale_soulstone_vein, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=520
        I:min=220
    }
}
