# Configuration file

Emission {
    # Expanded pollutants are explicit and disabled for this legacy source.
    # latent-base-carbon=0.6
    # latent-base-dust=0.0
    # latent-base-sulfur=0.3
    S:carbon=0.6
    S:dust=0.0
    S:sulfur=0.3
    S:hydrogen=0.0
    S:helium=0.0
    S:nitrogen=0.0
    S:oxygen=0.0
    S:fluorine=0.0
    S:neon=0.0
    S:chlorine=0.0
    S:argon=0.0
    S:krypton=0.0
    S:xenon=0.0
    S:radon=0.0
    S:carbon_dioxide=0.0
    S:ethylene=0.0
    S:ammonium=0.0
    S:methane=0.0
    S:ethane=0.0
    S:propane=0.0
    S:butane=0.0
    S:sulfur_dioxide=0.0
    S:nitrogen_dioxide=0.0
    S:ammonia=0.0
    S:hydrogen_sulfide=0.0
    S:acetylene=0.0
    S:carbon_monoxide=0.0
    S:nitric_oxide=0.0
}


Fuel {
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    #  [default: #forge:ender_pearls]
    S:id=#forge:ender_pearls
}


