# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    carbon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    sulfur {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    # BEGIN LATENT EXACT GAS IMPACTS
    hydrogen {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    helium {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    nitrogen {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    oxygen {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    fluorine {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    neon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    chlorine {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    argon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    krypton {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    xenon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    radon {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    carbon_dioxide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    ethylene {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    ammonium {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    methane {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    ethane {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    propane {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    butane {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    sulfur_dioxide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    nitrogen_dioxide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    ammonia {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    hydrogen_sulfide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    acetylene {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:mining_fatigue
            40% -> minecraft:hunger
            50% -> minecraft:weakness
            60% -> minecraft:slowness
            70% -> minecraft:poison
            80% -> minecraft:nausea
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    carbon_monoxide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    nitric_oxide {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:blindness
            60% -> minecraft:poison
            90% -> minecraft:wither
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            15% -> minecraft:blindness
            30% -> minecraft:poison
         >
    }

    # END LATENT EXACT GAS IMPACTS

}


